*{
    margin: 0px;
}
.header-section{
    z-index: 2;
}
li{
    display: inline;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(241, 241, 235);
}
a:hover{
    text-decoration:underline;
    font-size: 35px;
    
}
.row{
    display: flex;
    background-color: rgb(0, 0, 0); 
     opacity: 0.75;
 } 
.logo{
    margin-right: 200px;
    /* border: 2px solid red;  */
}
.nav{
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
}
.item{
    font-family: 'Staatliches', cursive;
    margin: 16px;
    font-size: 40px;
    /* font-weight: bold; */
}
.img{
    opacity: 0.6;
    position: relative;
    top: -81px;
    z-index: -1;
}
.quote{
    text-align: center;
    margin: -408px auto;
    font-size: 48px;
}
.quote::after{
    content: "— Georgia O’Keeffe";
    font-size: 22px;
    position: relative;
    top: 20px;
}
.content{
    display: flex;
    justify-content: center;
}
.content-item{
    position: relative;
    top: 544px;
    height: 200px;
    width: 200px;
    /* border: 2px solid black; */
    margin: 0px 30px;
}
.cards{
    position: relative;
    top: -2px;
    left: -32px;
    border: 10px solid rgb(75, 74, 74);
}
.context{
    text-align: center;
}  
.context h3{
    text-align: center;
    font-size: 23px;
}