*{
    margin: 0px;
}
.header-section{
    z-index: 2;
}
li{
    display: inline;
    list-style: none;
}
a{
    margin: 0px -5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color: gold;
    
}
.row{
    height: 72px;
    display: flex;
    background-color: rgba(0, 0, 0,0.1); 
     /* opacity: 0.75; */
 } 
.logo{
    padding-left: 10px;
    padding-top: 3px;
    margin-right: 680px;
    /* border: 2px solid red;  */
}
.nav{
    text-align: center;
    margin: 0px auto;
    margin-top: 36px;
    padding: 0px ;
}
.item{
    /* font-family: 'Staatliches', cursive; */
    margin: 10px;
    font-size: 30px;
    /* font-weight: bold; */
}
.img{
    opacity: 0.65;
    position: relative;
    top: -81px;
    z-index: -1;
}
.quote{
    text-align: center;
    margin: -408px auto;
    font-size: 48px;
}
.quote::after{
    content: "— Georgia O’Keeffe";
    font-size: 22px;
    position: relative;
    top: 20px;
}
.content{
    display: flex;
    justify-content: center;
}
.content-item{
    position: relative;
    top: 544px;
    height: 200px;
    width: 200px;
    /* border: 2px solid black; */
    margin: 0px 30px;
}
.cards{
    position: relative;
    top: -2px;
    left: -32px;
    border: 10px solid rgb(75, 74, 74);
}
.context{
    text-align: center;
}  
.context h3{
    text-align: center;
    font-size: 23px;
}